<div class="container-fluid w-75 mt-5">
    <div class="d-flex justify-content-between mb-4">
        <h1 class="display-6">Field Mappings</h1>
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#sourceNameEditor_div" (click)="newSourceFieldMapping()"><i class="bi bi-plus-circle"></i> New Source</button>
    </div>
    <div class="accordion" id="sources_accordion">
        <div *ngFor="let fieldMapping of fieldMappings;let i = index" class="accordion-item">
            <h2 class="accordion-header hstack gap-3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#accordionCollapse' + i">
                    <h5>{{fieldMapping.sourceName}}</h5>
                </button>
                <button *ngIf="!fieldMapping.isCoreSource" class="btn" data-bs-toggle="modal" data-bs-target="#sourceNameEditor_div" (click)="editSourceFieldMapping(fieldMapping)" title="change source name"><i class="bi bi-pencil-square"></i></button>
                <button *ngIf="!fieldMapping.isCoreSource" class="btn btn-outline" (click)="deleteSourceFieldMapping(fieldMapping.id)" title="delete this source"><i class="bi bi-trash3"></i></button>
                <button class="btn" (click)="duplicateSourceFieldMapping(fieldMapping)" title="duplicate this source's field mappings"><i class="bi bi-copy"></i></button>
            </h2>
            <div [attr.id]="'accordionCollapse' + i" class="accordion-collapse collapse" data-bs-parent="#sources_accordion" [ngClass]="{'show': activeFieldMappingID ? fieldMapping.id === activeFieldMappingID : false}">
            <div class="accordion-body">
                <div class="mb-5">
                    <b>Creating valid mappings...</b>
                    <ul>
                        <li *ngIf="fieldMapping.sourceFormat && fieldMapping.sourceFormat === 'json' && (!Object.values(fieldMapping.fields).includes('elements') || !Object.values(fieldMapping.fields).includes('connections'))">export fields named <code>'elements'</code> and <code>'connections'</code> must be added and mapped to their source field names</li>
                        <ul *ngIf="fieldMapping.sourceFormat && fieldMapping.sourceFormat === 'json' && (!Object.values(fieldMapping.fields).includes('elements') || !Object.values(fieldMapping.fields).includes('connections'))">
                            <li>if these are not specified it will be assumed all data entries are to be displayed as elements on a canvas, and that the entries are NOT "nested" in the JSON file</li>
                        </ul>
                        <li *ngIf="fieldMapping.sourceFormat && fieldMapping.sourceFormat === 'json'">see our <a href="https://deliberative-canvas.gitbook.io/deliberative-canvas-docs" target="_blank">docs</a> for how to reference nested fields using 'dot notation', ie <code>'data.edges'</code>, <code>'data.edges.title'</code></li>
                        <li>export fields named <code>'id'</code> and <code>'label'</code> are required for elements to be displayed correctly on a canvas</li>
                        <li>connections must contain <code>'from'</code> and <code>'to'</code> export field names - an <code>'id'</code> export field will be automatically generated by joining data from those two fields 
                        </li>
                    </ul>
                </div>
                <div *ngIf="fieldMapping.isCoreSource === false" class="row mt-2 mb-3">
                    <div class="col">
                      <input type="text" class="form-control" [(ngModel)]="activeSourceField" style="text-align:right;" placeholder="enter source field name...">
                    </div>
                    :
                    <div class="col">
                      <input type="text" class="form-control" [(ngModel)]="activeExportField" placeholder="enter export field name...">
                    </div>
                    <div class="col-3"> 
                        <button class="btn btn-success" (click)="addField(fieldMapping)" [disabled]="activeSourceField === '' || activeExportField === ''">{{sourceFieldBeingUpdated === '' ? 'Add' : 'Update'}}</button>
                        <button *ngIf="sourceFieldBeingUpdated !== ''" class="btn btn-link" (click)="cancelEditingField()">cancel</button>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col" style="text-align:right;">
                        <b>Source Field Name</b>
                    </div>
                    :
                    <div class="col">
                        <b>Export Field Name</b>
                    </div>
                    <div *ngIf="fieldMapping.isCoreSource === false" class="col-3">

                    </div>
                </div>
                <div *ngFor="let key of Object.keys(fieldMapping.fields)" class="row mb-3">
                    <div class="col">
                      <input type="text" class="form-control" value="{{key}}" style="text-align:right;" disabled="true">
                    </div>
                    :
                    <div class="col">
                      <input type="text" class="form-control" value="{{fieldMapping.fields[key]}}" disabled="true">
                    </div>
                    <div *ngIf="fieldMapping.isCoreSource === false" class="col-3">
                        <button class="btn" (click)="editField(key,fieldMapping.fields[key])"><i class="bi bi-pencil-square"></i></button>
                        <button class="btn" (click)="removeField(fieldMapping,key)"><i class="bi bi-trash3"></i></button>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<div id="sourceNameEditor_div" class="modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
            <input class="form-control" type="text" placeholder="enter source name..." [(ngModel)]="newSourceName"/>
            <div class="hstack mt-2 mb-2">
                <div class="me-3">
                    <label>source format:</label>
                </div>
                <div *ngFor="let format of sourceFormats;let i = index" class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="sourceFormatRadio" [id]="'sourceFormatRadio'+ i" [value]="format" [checked]="i === sourceFormatSelectedIndex" (change)="sourceFormatSelectionChange(i)" [disabled]="fieldMappingIDBeingUpdated !== ''" >
                    <label class="form-check-label" [for]="'sourceFormatRadio'+ i">{{format}}</label>
                </div>
            </div>
            <div class="input-group h-stack gap-2 mt-3">
                <button *ngIf="fieldMappingIDBeingUpdated === '' && !template" class="btn btn-sm btn-primary" onclick="template_fileinput.click()">Populate field mappings from a {{sourceFormats[sourceFormatSelectedIndex]}} template</button>
                <input type="file" id="template_fileinput" [accept]="'.' + sourceFormats[sourceFormatSelectedIndex]" (change)="templateSelected($event)" style="display: none;"/>
                <label>{{template?.name}}</label>
                <button *ngIf="template" class="btn btn-sm" (click)="clearSelectedTemplate()"><i class="bi bi-trash3"></i></button>
            </div>
            <button (click)="parseJSON()" >parse JSON</button>
            <button class="btn btn-success w-100 mt-3" (click)="fieldMappingIDBeingUpdated === '' ? addSourceFieldMapping() : updateSourceName()" [disabled]="newSourceName === ''" data-bs-dismiss="modal">{{fieldMappingIDBeingUpdated === '' ? 'Create' : 'Update'}}</button>
        </div>
      </div>
    </div>
</div>

