<nav class="navbar border-bottom" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Deliberative Canvas <small>({{appVersion}})</small></a>
    <div class="d-flex align-items-center">
      <div *ngIf="syncService.syncInProgress" class="spinner-border spinner-border-sm text-success m-2">
        <span class="visually-hidden">importing data...</span>
      </div>
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{(appService.userDisplayName && appService.userDisplayName !== '' ? appService.userDisplayName : appService.user?.split('.')[0])}}
        </a>
        <ul class="dropdown-menu dropdown-menu-end">
          <li><a class="dropdown-item" routerLink="/">Home</a></li>
          <li><a class="dropdown-item" routerLink="/fieldmapping-manager">Field Mappings</a></li>
          <li><a class="dropdown-item" routerLink="/keyword-manager">Keywords</a></li>
          <li><a class="dropdown-item" routerLink="/canvasview-manager">Canvas Views</a></li>
          <li><hr class="dropdown-divider"></li>
          <li *ngIf="syncService.syncServerURL !== ''"><a class="dropdown-item" (click)="syncService.doSync()">Sync</a></li>
          <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#linkProfile_div">Link Profile</a></li>
          <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#profileDetails_div">Profile Details</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>


<div #linkProfile_div id="linkProfile_div" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header justify-content-between">
        <h5 class="modal-title">Profile Linking</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <app-link-profile [displayName]="appService.userDisplayName"></app-link-profile>
      </div>
      <div class="modal-footer justify-content-between">
        
      </div>
    </div>
  </div>
</div>

<div #profileDetails_div id="profileDetails_div" class="modal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header justify-content-between">
        <h5 class="modal-title">Profile Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body" style="word-wrap: break-word;">
        <div>
          <b>User ID:</b> {{authService.esSettings?.author?.address}}
          <button class="btn btn-light" (click)="copyToClipboard(authService.esSettings.author.address)"><i class="bi bi-clipboard"></i></button>
        </div>
        <div class="mt-2">
          <b>Share ID:</b> {{authService.esSettings?.shares[0]}}
          <button class="btn btn-light" (click)="copyToClipboard(authService.esSettings.shares[0])"><i class="bi bi-clipboard"></i></button>
        </div>
        <div class="mt-4 mb-3">
          <label class="form-label" for="displayName_input">Profile name:</label>
          <div class="input-group">
            <input class="form-control" id="displayName_input" [(ngModel)]="appService.userDisplayName" placeholder="enter your name..."/>
            <button class="btn btn-success" (click)="saveDisplayName()" data-bs-dismiss="modal">save</button>
          </div>
        </div>
        <div class="mt-3 mb-2">
          <label class="form-label" for="syncServerURL_input">Sync Server URL:</label>
          <div class="input-group">
            <input class="form-control" id="syncServerURL_input" [(ngModel)]="syncService.syncServerURL" placeholder="enter the URL for the server you want to use for syncing data..."/>
            <button class="btn btn-success" (click)="syncService.addSyncServer(syncService.syncServerURL)" data-bs-dismiss="modal" [disabled]="syncService.syncServerURL === ''">save</button>
            <button class="btn btn-link" (click)="syncService.removeSyncServer(syncService.syncServerURL)" [disabled]="authService.esSettings.servers?.length === 0" >remove</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet />
