<div *ngIf="!showCanvasViewDetail" class="container mt-5">
    <div class="d-flex justify-content-between mb-4">
        <h1 class="display-6">Canvas Views</h1>
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#canvasView_div" (click)="createNewCanvasView()"><i class="bi bi-plus-circle"></i> New Canvas View</button>
    </div>
    <div class="d-flex justify-content-end pl-2 pr-2 pt-2 mb-1">
        <div class="form-group has-search w-100">
          <span class="bi bi-search form-control-feedback"></span>
          <input class="form-control rounded-pill" type="search" placeholder="search..." id="searchCanvasViews_input" [(ngModel)]="canvasViewSearchText" title="search by title or description..." [disabled]="!canvasViews || canvasViews.length === 0">
        </div>
    </div>
    <div class="list-group mt-2">
        <a *ngFor="let canvasView of canvasViews | textFilter: canvasViewSearchText : ['title','description']" class="list-group-item list-group-item-action" data-bs-toggle="modal" data-bs-target="#canvasView_div" (click)="showCanvasView(canvasView)" >
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{canvasView.title}}</h5>
                <small>Last updated: {{canvasView?.dateUpdated | date:'medium'}}</small>
            </div>
            <p class="mb-2">{{canvasView.description}}</p>
            <div class="d-flex overflow-auto align-items-center gap-2 mb-1">
                <small><i>data sources: </i></small>
                <span *ngFor="let exportLogID of canvasView.exportLogIDs" class="badge rounded-pill text-bg-info"><small>{{renderExportLogTitle(exportLogID)}}</small></span>
            </div>
        </a>
    </div>
</div>
<div *ngIf="showCanvasViewDetail" class="d-flex justify-content-center mt-3">
    <button class="btn btn-outline-primary w-50" data-bs-toggle="modal" data-bs-target="#canvasView_div">Show Details</button>
</div>
<div *ngIf="showCanvasViewDetail && selectedCanvasView.embedURL !== ''" class="d-flex w-100 vh-100 justify-content-center mt-3">
    <iframe [src]="embedURLSafe" width="100%" height="100%" frameborder="1"></iframe>
</div>

<div #canvasView_div id="canvasView_div" class="modal" tabindex="-1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header justify-content-between">
            <button class="btn btn-light" data-bs-dismiss="modal" (click)="cancelCanvasView()"><h6><i class="bi bi-arrow-bar-left"></i> Back to Canvas List</h6></button>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
            <div class="d-flex justify-content-end" role="group">
                <button *ngIf="selectedCanvasView.id" class="btn btn-sm btn-light" (click)="downloadCanvasViewJSON()"><i class="bi bi-filetype-json"></i> Download JSON File</button>
                <button *ngIf="syncService.syncServerURL !== '' && selectedCanvasView.id" class="btn btn-sm btn-light" (click)="copyToClipboard(remoteJSONCanvasViewURL)"><i class="bi bi-clipboard"></i> Copy Remote JSON URL</button>
            </div>
            <div class="mb-3">
                <label for="canvasViewTitle_input" class="form-label">Title</label>
                <input type="text" class="form-control" id="canvasViewTitle_input" [(ngModel)]="selectedCanvasView.title" placeholder="enter a title...">
            </div>
            <div class="mb-3">
                <label for="canvasViewDescription_ta" class="form-label">Description</label>
                <textarea class="form-control" id="canvasViewDescription_ta" rows="2" [(ngModel)]="selectedCanvasView.description" placeholder="enter description and/or notes..."></textarea>
            </div>
            <div class="mb-3">
                <label for="canvasViewEmbedURL_input" class="form-label">Embed Link</label>
                <div class="input-group">
                    <button class="btn btn-light" data-bs-dismiss="modal" (click)="refreshEmbed()" [disabled]="selectedCanvasView.embedURL === ''"><i class="bi bi-arrow-clockwise"></i></button>
                    <input type="text" class="form-control" id="canvasViewEmbedURL_input" [(ngModel)]="selectedCanvasView.embedURL" placeholder="enter a canvas embed URL...">
                    <button class="btn btn-light" (click)="copyToClipboard(selectedCanvasView.embedURL)" [disabled]="selectedCanvasView.embedURL === ''"><i class="bi bi-clipboard"></i></button>
                    <button class="btn btn-light" [disabled]="selectedCanvasView.embedURL === ''"><a [href]="selectedCanvasView.embedURL" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a></button>
                </div>
            </div>
            <div class="mb-3">
                <label for="canvasViewProjectURL_input" class="form-label">Project Link</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="canvasViewProjectURL_input" [(ngModel)]="selectedCanvasView.projectURL" placeholder="enter the (Kumu) project URL that the canvas belongs to...">
                    <button class="btn btn-light" (click)="copyToClipboard(selectedCanvasView.projectURL)" [disabled]="selectedCanvasView.projectURL === ''"><i class="bi bi-clipboard"></i></button>
                    <button class="btn btn-light" [disabled]="selectedCanvasView.projectURL === ''"><a [href]="selectedCanvasView.projectURL" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a></button>
                </div>
            </div>
            <div>
                <label>Data Sources</label>
                <div class="d-flex gap-3 mt-2">
                    <div class="d-flex overflow-auto">
                        <div *ngFor="let exportLogID of selectedCanvasView.exportLogIDs">
                            <span class="badge rounded-pill text-bg-info">{{renderExportLogTitle(exportLogID)}}</span>
                            <button class="btn" (click)="removeExportLog(exportLogID)"><i class="bi bi-x"></i></button>
                        </div>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown"><i class="bi bi-plus-circle"></i></button>
                        <ul class="dropdown-menu">
                            <li *ngFor="let exportLog of exportLogs">
                                <a *ngIf="!selectedCanvasView.exportLogIDs.includes(exportLog.id)" class="dropdown-item" (click)="addExportLog(exportLog.id)"><small>{{exportLog.title}}</small></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer justify-content-between">
            <div>
                <button class="btn btn-primary" data-bs-dismiss="modal" (click)="saveCanvasView()" [disabled]="selectedCanvasView.title === ''">{{selectedCanvasView.id ? 'Update' : 'Create'}}</button>
                <button class="btn btn-sm btn-link" data-bs-dismiss="modal" (click)="cancelCanvasView()">cancel</button>
            </div>
            <button *ngIf="selectedCanvasView.id" class="btn btn-outline-danger" data-bs-dismiss="modal" (click)="deleteCanvasView()"><i class="bi bi-trash3"></i></button>
        </div>
      </div>
    </div>
</div>